Repository KITmetricslab/RESPINOW-Hub, pull requests merged in 2024-06, with the labels that each got.

#83 Update nowcasts (RIVM) 2024-06-06
  submissions/icosari/sari/RIVM-GAM/2024-06-06-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-06-06-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#84 Compute baseline
  submissions/icosari/sari/KIT-simple_nowcast/2024-06-06-icosari-sari-KIT-simple_nowcast.csv
  submissions/survstat/influenza/KIT-simple_nowcast/2024-06-06-survstat-influenza-KIT-simple_nowcast.csv
Labels: data-submission, automerge, automated pr

#85 Compute hhh4
  submissions/icosari/sari/KIT-hhh4/2024-06-06-icosari-sari-KIT-hhh4.csv
Labels: data-submission, automerge, automated pr

#82 Adding forecasts
  submissions/survstat/influenza/HZI-ODEmodel/2024-05-23-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-05-30-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-06-06-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-05-23-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-05-30-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-06-06-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission

#86 Update nowcasts (RIVM) 2024-06-13
  submissions/icosari/sari/RIVM-GAM/2024-06-13-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-06-13-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#87 Update nowcasts (RIVM) 2024-06-20
  submissions/icosari/sari/RIVM-GAM/2024-06-20-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-06-20-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge
