Repository KITmetricslab/RESPINOW-Hub, pull requests merged in 2024-09, with the labels that each got.

#88 Compute baseline
  submissions/icosari/sari/KIT-simple_nowcast/2024-09-12-icosari-sari-KIT-simple_nowcast.csv
  submissions/survstat/influenza/KIT-simple_nowcast/2024-09-12-survstat-influenza-KIT-simple_nowcast.csv
Labels: data-submission, automerge, automated pr

#89 Compute hhh4
  submissions/icosari/sari/KIT-hhh4/2024-09-12-icosari-sari-KIT-hhh4.csv
Labels: data-submission, automerge, automated pr

#90 Update nowcasts (RIVM) 2024-09-12
  submissions/icosari/sari/RIVM-GAM/2024-09-12-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-09-12-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#91 Compute baseline
  submissions/icosari/sari/KIT-simple_nowcast/2024-09-19-icosari-sari-KIT-simple_nowcast.csv
  submissions/survstat/influenza/KIT-simple_nowcast/2024-09-19-survstat-influenza-KIT-simple_nowcast.csv
Labels: data-submission, automerge, automated pr

#93 Update nowcasts (RIVM) 2024-09-19
  submissions/icosari/sari/RIVM-GAM/2024-09-19-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-09-19-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#94 Update nowcasts (RIVM) 2024-09-26
  submissions/icosari/sari/RIVM-GAM/2024-09-26-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-09-26-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#95 Compute baseline
  submissions/icosari/sari/KIT-simple_nowcast/2024-09-26-icosari-sari-KIT-simple_nowcast.csv
  submissions/survstat/influenza/KIT-simple_nowcast/2024-09-26-survstat-influenza-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#96 Compute hhh4
  submissions/icosari/sari/KIT-hhh4/2024-09-26-icosari-sari-KIT-hhh4.csv
Labels: data-submission, automated pr
