Repository KITmetricslab/RESPINOW-Hub, pull requests merged in 2024-10, with the labels that each got.

#97 Compute baseline
  submissions/icosari/sari/KIT-simple_nowcast/2024-10-03-icosari-sari-KIT-simple_nowcast.csv
  submissions/survstat/influenza/KIT-simple_nowcast/2024-10-03-survstat-influenza-KIT-simple_nowcast.csv
Labels: data-submission, automerge, automated pr

#98 Compute hhh4
  submissions/icosari/sari/KIT-hhh4/2024-10-03-icosari-sari-KIT-hhh4.csv
Labels: data-submission, automerge, automated pr

#99 Update nowcasts (RIVM) 2024-10-03
  submissions/icosari/sari/RIVM-GAM/2024-10-03-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-10-03-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#100 Update nowcasts (RIVM) 2024-10-10
  submissions/icosari/sari/RIVM-GAM/2024-10-10-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-10-10-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#102 KIT-LightGBM first submission
  submissions/icosari/sari/KIT-LightGBM/2024-10-10-icosari-sari-KIT-LightGBM.csv
Labels: data-submission

#103 KIT-TSMixer first submission
  submissions/icosari/sari/KIT-TSMixer/2024-10-10-icosari-sari-KIT-TSMixer.csv
Labels: data-submission

#105 2024-10-17 Submission KIT-TSMixer
  submissions/icosari/sari/KIT-TSMixer/2024-10-17-icosari-sari-KIT-TSMixer.csv
Labels: data-submission, automerge

#106 Update nowcasts (RIVM) 2024-10-17
  submissions/icosari/sari/RIVM-GAM/2024-10-17-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-10-17-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#107 Adding mpi files
  submissions/agi/are/MPIDS-PS_embedding/2024-10-17-agi-are-MPIDS-PS_embedding.csv
  submissions/icosari/sari/MPIDS-PS_embedding/2024-10-17-icosari-sari-MPIDS-PS_embedding.csv
  submissions/survstat/influenza/MPIDS-PS_embedding/2024-10-17-survstat-influenza-MPIDS-PS_embedding.csv
  submissions/survstat/pneumococcal/MPIDS-PS_embedding/2024-10-17-survstat-pneumococcal-MPIDS-PS_embedding.csv
  submissions/survstat/rsv/MPIDS-PS_embedding/2024-10-17-survstat-rsv-MPIDS-PS_embedding.csv
Labels: data-submission, automerge

#108 Update nowcasts (RIVM) 2024-10-24
  submissions/icosari/sari/RIVM-GAM/2024-10-24-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-10-24-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#109 2024-10-24 Submission KIT-LightGBM
  submissions/icosari/sari/KIT-LightGBM/2024-10-24-icosari-sari-KIT-LightGBM.csv
Labels: data-submission, automerge

#111 Adding forecasts HZI
  submissions/survstat/influenza/HZI-ODEmodel/2024-10-17-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-10-24-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-10-17-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-10-24-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission
