Repository KITmetricslab/RESPINOW-Hub, pull requests merged in 2024-05, with the labels that each got.

#66 Update nowcasts (RIVM) 2024-05-02
  submissions/icosari/sari/RIVM-GAM/2024-05-02-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-05-02-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#65 Adding forecasts
  submissions/survstat/influenza/HZI-ODEmodel/2024-04-18-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-04-25-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-05-02-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-04-18-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-04-25-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-05-02-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission

#67 Update nowcasts (RIVM) 2024-05-09
  submissions/icosari/sari/RIVM-GAM/2024-05-09-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-05-09-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#69 Update nowcasts (RIVM) 2024-05-16
  submissions/icosari/sari/RIVM-GAM/2024-05-16-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-05-16-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#76 Compute baseline
  submissions/icosari/sari/KIT-simple_nowcast/2024-05-23-icosari-sari-KIT-simple_nowcast.csv
  submissions/survstat/influenza/KIT-simple_nowcast/2024-05-23-survstat-influenza-KIT-simple_nowcast.csv
Labels: data-submission, automerge, automated pr

#77 Compute hhh4
  submissions/icosari/sari/KIT-hhh4/2024-05-23-icosari-sari-KIT-hhh4.csv
Labels: data-submission, automerge, automated pr

#78 Update nowcasts (RIVM) 2024-05-23
  submissions/icosari/sari/RIVM-GAM/2024-05-23-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-05-23-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#79 Compute baseline
  submissions/icosari/sari/KIT-simple_nowcast/2024-05-30-icosari-sari-KIT-simple_nowcast.csv
  submissions/survstat/influenza/KIT-simple_nowcast/2024-05-30-survstat-influenza-KIT-simple_nowcast.csv
Labels: data-submission, automerge, automated pr

#80 Update nowcasts (RIVM) 2024-05-30
  submissions/icosari/sari/RIVM-GAM/2024-05-30-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2024-05-30-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#81 Compute hhh4
  submissions/icosari/sari/KIT-hhh4/2024-05-30-icosari-sari-KIT-hhh4.csv
Labels: data-submission, automerge, automated pr
