Repository KITmetricslab/RESPINOW-Hub, pull requests merged in 2025-01, with the labels that each got.

#158 Adding forecasts
  submissions/survstat/influenza/HZI-ODEmodel/2024-12-05-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-12-12-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-12-19-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2024-12-26-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-01-02-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-01-09-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-12-05-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-12-12-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-12-19-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2024-12-26-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-01-02-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-01-09-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission

#159 Add KIT-LightGBM
  submissions/icosari/sari/KIT-LightGBM/2025-01-09-icosari-sari-KIT-LightGBM.csv
Labels: data-submission

#161 Add KIT-TSMixer
  submissions/icosari/sari/KIT-TSMixer/2025-01-09-icosari-sari-KIT-TSMixer.csv
Labels: data-submission

#162 Add files via upload
  submissions/icosari/sari/KIT-LightGBM/2024-12-19-icosari-sari-KIT-LightGBM.csv
Labels: data-submission

#163 Add files via upload
  submissions/icosari/sari/KIT-TSMixer/2024-12-19-icosari-sari-KIT-TSMixer.csv
Labels: data-submission

#164 Update nowcasts (RIVM) 2025-01-16
  submissions/icosari/sari/RIVM-GAM/2025-01-16-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2025-01-16-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#165 Adding forecast
  submissions/survstat/influenza/HZI-ODEmodel/2025-01-16-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-01-16-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission, automerge

#166 Add KIT-LightGBM
  submissions/icosari/sari/KIT-LightGBM/2025-01-16-icosari-sari-KIT-LightGBM.csv
Labels: data-submission

#167 Add KIT-TSMixer
  submissions/icosari/sari/KIT-TSMixer/2025-01-16-icosari-sari-KIT-TSMixer.csv
Labels: data-submission

#168 Update nowcasts (RIVM) 2025-01-23
  submissions/icosari/sari/RIVM-GAM/2025-01-23-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2025-01-23-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#169 Adding forecasts HZI
  submissions/survstat/influenza/HZI-ODEmodel/2025-01-23-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/2025-01-23-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-01-23-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission, other-files-updated

#154 submission 09/01
  submissions/agi/are/MPIDS-PS_embedding/2025-01-09-agi-are-MPIDS-PS_embedding.csv
  submissions/agi/are/MPIDS-PS_embedding/2025-01-16-agi-are-MPIDS-PS_embedding.csv
  submissions/agi/are/MPIDS-PS_embedding/2025-01-23-agi-are-MPIDS-PS_embedding.csv
  submissions/icosari/sari/MPIDS-PS_embedding/2025-01-16-icosari-sari-MPIDS-PS_embedding.csv
  submissions/icosari/sari/MPIDS-PS_embedding/2025-01-23-icosari-sari-MPIDS-PS_embedding.csv
Labels: data-submission

#172 submission 30/01
  submissions/agi/are/MPIDS-PS_embedding/2025-01-30-agi-are-MPIDS-PS_embedding.csv
  submissions/icosari/sari/MPIDS-PS_embedding/2025-01-30-icosari-sari-MPIDS-PS_embedding.csv
Labels: data-submission, automerge

#173 Update nowcasts (RIVM) 2025-01-30
  submissions/icosari/sari/RIVM-GAM/2025-01-30-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2025-01-30-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#174 Adding forecasts HZI
  submissions/survstat/influenza/HZI-ODEmodel/2025-01-30-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-01-30-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission, automerge

#175 Add KIT-LightGBM
  submissions/icosari/sari/KIT-LightGBM/2025-01-30-icosari-sari-KIT-LightGBM.csv
Labels: data-submission, automerge

#176 Add KIT-TSMixer
  submissions/icosari/sari/KIT-TSMixer/2025-01-30-icosari-sari-KIT-TSMixer.csv
Labels: data-submission, automerge
