Repository KITmetricslab/RESPINOW-Hub, pull requests merged in 2025-04, with the labels that each got.

#206 Update nowcasts (RIVM) 2025-04-03
  submissions/icosari/sari/RIVM-GAM/2025-04-03-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2025-04-03-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#207 Update nowcasts (RIVM) 2025-04-10
  submissions/icosari/sari/RIVM-GAM/2025-04-10-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2025-04-10-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#203 retrospective submission 9/1
  submissions/icosari/sari/MPIDS-PS_embedding/2025-01-09-icosari-sari-MPIDS-PS_embedding.csv
Labels: data-submission

#205 Adding forecasts
  submissions/survstat/influenza/HZI-ODEmodel/2025-02-06-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-02-13-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-02-20-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-02-27-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-03-06-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-03-13-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-03-20-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/influenza/HZI-ODEmodel/2025-03-27-survstat-influenza-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-02-06-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-02-13-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-02-20-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-02-27-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-03-06-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-03-13-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-03-20-survstat-rsv-HZI-ODEmodel.csv
  submissions/survstat/rsv/HZI-ODEmodel/2025-03-27-survstat-rsv-HZI-ODEmodel.csv
Labels: data-submission

#209 Add KIT-TSMixer
  submissions/icosari/sari/KIT-TSMixer/2025-03-27-icosari-sari-KIT-TSMixer.csv
Labels: data-submission

#210 Add ARI forecasts (LightGBM)
  submissions/agi/are/KIT-LightGBM/2024-10-17-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-10-24-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-10-31-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-11-07-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-11-14-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-11-21-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-11-28-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-12-05-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-12-12-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2024-12-19-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-01-09-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-01-16-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-01-23-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-01-30-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-02-06-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-02-13-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-02-20-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-02-27-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-03-06-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-03-20-agi-are-KIT-LightGBM.csv
  submissions/agi/are/KIT-LightGBM/2025-03-27-agi-are-KIT-LightGBM.csv
Labels: data-submission, forecast-updated

#212 Update nowcasts (RIVM) 2025-04-24
  submissions/icosari/sari/RIVM-GAM/2025-04-24-icosari-sari-RIVM-GAM.csv
  submissions/survstat/influenza/RIVM-GAM/2025-04-24-survstat-influenza-RIVM-GAM.csv
Labels: data-submission, automerge

#213 Add ARI forecasts (TSMixer)
  submissions/agi/are/KIT-TSMixer/2024-10-17-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-10-24-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-10-31-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-11-07-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-11-14-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-11-21-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-11-28-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-12-05-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-12-12-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2024-12-19-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-01-09-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-01-16-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-01-23-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-01-30-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-02-06-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-02-13-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-02-20-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-02-27-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-03-06-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-03-13-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-03-20-agi-are-KIT-TSMixer.csv
  submissions/agi/are/KIT-TSMixer/2025-03-27-agi-are-KIT-TSMixer.csv
Labels: data-submission

#214 Add KIT-TSMixer
  submissions/icosari/sari/KIT-TSMixer/2025-03-13-icosari-sari-KIT-TSMixer.csv
Labels: data-submission
